[submodule "plugins/neutrino-mediathek"]
	path = plugins/neutrino-mediathek
	url = ../plugin-lua-neutrino-mediathek.git
[submodule "plugins/logoupdater"]
	path = plugins/logoupdater
	url = ../plugin-lua-logoupdater.git
[submodule "plugins/stb_startup"]
	path = plugins/stb_startup
	url = ../plugin-lua-stb-startup.git
[submodule "plugins/webmin-setup"]
	path = plugins/webmin-setup
	url = ../plugin-lua-webmin-setup.git
